/*通用宽度设置*/
.comWidth {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/*headertop设置*/
.headertop {
    background-color: powderblue;
    height: 90px;
}

.photo {
    margin: 10px 0px;
}

.short {
    font-size: 20px;
    font-family: "microsoft yahei", sans-serif;
    width: 500px;
    height: 60px;
    margin-top: 30px;
}

.short li {
    float: left;
    padding-right: 30px;
}

.short a {
    color: black;
}

.short .xx {
    font-size: 14px;
    color: gray;
}

/*headerMiddle设置*/
.headerMiddle {
    background: url(../img/bg-girl.jpg) left top no-repeat;
    height: 300px;
}

.headerMiddle .leftpart {
    margin-top: 80px;
    margin-left: 20px;
}

.headerMiddle .leftpart p {
    color: black;
    font-size: 16px;
    line-height: 2em;
    font-family: sans-serif;
}

.headerMiddle .rightpart {
    margin-top: 60px;
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: center;
}

/*headerBottom设置*/
.headerBottom {
    height: 240px;
    background-color: gainsboro;
    font-family: "microsoft yahei", sans-serif;
    font-size: 16px;
}

.templates .line {
    border-bottom: white solid 3px;
    padding-top: 18px;
    padding-left: 10px;
    color: black;
}

.templates p {
    width: 180px;
    background-color: dimgrey;
    padding: 2px 8px;
}

.templates .ss {
    color: white;
}

.classpart li {
    float: left;
    margin-left: 9px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 16px;
}

.classpart img {
    width: 200px;
    height: 150px;
}

/*contentBar设置*/
.leftarea {
    width: 750px;
    border-right: gray double 3px;
    padding-right: 10px;
}

.rightarea {
    width: 320px;
}

/*left设置*/
.article_one {
    width: 100px;
    padding-top: 10px;
}

.con_line {
    border-bottom: darkgray dashed 3px;
    margin-bottom: 10px;
}

.article_one p {
    background-color: white;
    padding: 2px 10px 2px 0px;
    font-size: 18px;
    font-family: "microsoft yahei";
    font-weight: bold;
}

.article_one .dd {
    color: deeppink;
}

.article_tit {
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.img img {
    border: yellow solid 2px;
    padding: 5px;
}

.text {
    width: 510px;
}

.text .pp {
    padding-top: 8px;
    font-family: sans-serif;
    line-height: 1.5em;
    color: gray;
}

.text .btn {
    width: 80px;
    background-color: orange;
    padding: 5px 8px;
    margin-right: 0px;
    margin-top: 16px;
}

.btn a {
    color: white;
}

.footer {
    clear: both;
    color: gray;
    background-color: gainsboro;
    font-size: 14px;
    font-family: sans-serif;
}

.footer p {
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.footer a {
    color: green;
}

/*right设置*/
.rightimg {
    margin-top: 35px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
}

.cot, .uli {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.cot h4 {
    color: dimgray;
    font-weight: bold;
    font-size: 18px;
}

.cot .wenzhang {
    color: greenyellow;
}

.icro {
    width: 40px;
    height: 10px;
    background-color: gray;
}

.uli {
    padding-left: 25px;
    margin-bottom: 15px;
}

.uli a {
    font-size: 14px;
    color: black;
}

.uli a:hover {
    text-decoration: underline;
}

.uli ul {
    line-height: 2em;
}

.uli li {
    list-style-type: circle;
}

.uli .active {
    color: red;
}

.links h4 {
    color: dimgray;
    font-weight: bold;
    font-size: 18px;
}

.links .wenzhang {
    color: greenyellow;
}

.download {
    text-align: center;
    background-color: yellow;
    font-size: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 6px;
}

.photos li {
    display: inline;
}

#top {
    clear: both;
    position: fixed;
    bottom: 30px;
    left: 50%;
    margin-left: 600px;
}

#top #totop {
    display: none;
}

#top a:hover {
    background: url(../img/texttop.PNG);
}
