body {
    font-family: "微软雅黑", sans-serif;
    font-size: 16px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.width {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    position: absolute;
    top: 0px;
    left: 180px;
}

#titleall {
    background-color: white;
    border-bottom: darkgrey 2px solid;
    height: 50px;
    line-height: 50px;
}

.titleleft ul li {
    float: left;
    padding-right: 30px;
}

.titleleft #zhihu {
    font-size: 28px;
    font-weight: bold;
}

.titleleft #sy a {
    color: black;
}

.titleleft #find a, #topic a {
    color: grey;
}

.titleleft #find a:hover, #topic a:hover {
    color: black;
}

.text {
    height: 30px;
    line-height: 30px;
    margin: 10px 2px;
    width: 300px;
    color: grey;
    padding-left: 8px;
    background-color: white;
    border: gray 1px solid;
    border-radius: 6px;
}

.ques {
    margin-left: 18px;
    height: 30px;
    line-height: 30px;
    color: white;
    background-color: blue;
    padding: 0 8px;
    border: blue 1px solid;
    border-radius: 6px;
}

.titleright img {
    margin: 8px 0px 10px 24px;
}

#left {
    width: 750px;
}

#one {
    width: 720px;
    height: 60px;
    border: darkgray 1px solid;
    background-color: white;
    margin-top: 15px;
    border-radius: 5px;
}

#z {
    padding-top: 20px;
    padding-left: 6px;
}

#j {
    padding-right: 16px;
}

#j p {
    color: grey;
    font-size: 15px;
}

#two {
    position: relative;
    width: 720px;
    height: 300px;
    border: darkgray 1px solid;
    background-color: white;
    margin-top: 15px;
    border-radius: 5px;
}

#two #hot {
    color: grey;
    margin: 15px 15px;
}

#two #aaa {
    margin-bottom: 15px;
}

#two #headimg {
    margin: 0px 8px 15px 12px;
}

#two #zero {
    font-size: 14px;
}

#two #zero b {
    font-size: 16px;
}

#two #zxc {
    margin: 15px;
    position: relative;
}

#two #zxc #con {
    position: absolute;
    left: 205px;
    top: 5px;
    line-height: 1.5em;
}

#two ul li {
    float: left;
}

#two #share {
    position: absolute;
    left: 15px;
    bottom: 25px;
}

#right {
    position: fixed;
    top: 68px;
    left: 920px;
    width: 260px;
    height: 300px;
    border: red 1px solid;
}
